/* === Global scrollbar override === */
html {
	scroll-behavior: smooth;

	/* Hide track completely on Firefox */
	scrollbar-width: none;
	scrollbar-color: transparent transparent;
}

html::-webkit-scrollbar {
	width: 0px; /* removes the default track */
	height: 0px;
}

/* Add floating pill scrollbar ONLY on body */
body::-webkit-scrollbar {
	width: 6px;
}

body::-webkit-scrollbar-track {
	background: transparent !important;
}

body::-webkit-scrollbar-thumb {
	background: rgba(160, 160, 160, 0.4);
	border-radius: 100px;
}

/* Removes legacy scrollbar on Edge/IE */
body {
	-ms-overflow-style: none;
}

/* Utility classes for dark mode */
.dark .accent-bg {
	background-color: var(--accent-color) !important;
}
.dark .accent-text {
	color: var(--accent-color) !important;
}

.primary-bg {
	background-color: var(--primary) !important;
}
.primary-text {
	color: var(--primary) !important;
}
.secondary-bg {
	background-color: var(--secondary) !important;
}
.secondary-text {
	color: var(--secondary) !important;
}

/* Existing styles */
@tailwind base;
@tailwind components;
@tailwind utilities;
